@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap')

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #4e4e4e;
    background-color: #cac4ce;
}

/* heading and logo */

h1,h2 {
    font-family: roboto, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: black;
}

#logo {
    margin: 0;
    height: 75px;
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/* navigation */

#menu {
    height: 75px;
    font-size: 110%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    padding: 5px;
    background-color: #fff;
    border-bottom: 2px solid #a940c9;
}

.active {
    padding: 5px;
    border-bottom: 2px solid #a940c9;
}

/* section happy people */

#happy-people {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#happy-people-image {
    height: 650px;
    width: 100%;
    background: url("../images/happy-people.jpg") no-repeat center -270px;
    background-size: cover;
    animation-name: happy-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes happy-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#challenge-text {
    font-size: 130%;
    font-family: roboto, sans-serif;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    width: 300px;
    height: 150px;
    padding: 15px;
    background-color: rgba(255, 255, 255, .85);
    background-position: center;
    border-radius: 10px;
    top: 430px;
    left: 100px;
    position: absolute;
}


/* section challenge statments */

#challenge-question {
    height: 600px;
}

#challenge {
    text-align: center;
    margin: 20px;
    font-size: 280%;
}

#left-challenge {
    padding-top: 30px;
    float: left;
    width: 33%;
}

#right-challenge {
    padding-top: 30px;
    float: right;
    width: 33%;
}

#center-challenge {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #a940c9;
    width: 100%;
    margin: 5px 0;
}

.left-challenge-text {
    width: 95%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 10px;
}

.right-challenge-text {
    width: 95%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 10px;
}

.right-challenge-text h2 {
    text-align: left;
}

#challenge, .left-challenge-text h2, .right-challenge-text h2 {
    text-transform: none;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #a940c9;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/Challenge-2.png") no-repeat center center;
    background-size: 83%;
    background-color: #fff;
    height: 100%;
    border-radius: 50%;
}

/* section for CTA happy & help buttom */

#happy, #help {
    height: 100px;
}

#cta-happy-text, #cta-help-text {
    clear: both;
    width: 100%
}

.cta-be-happy, .cta-need-help {
    padding-top: 15px;
    width: 100%
    te
}



/* the buttom Be Happy is generated from https://buttonoptimizer.com/ */

#cta-happy-buttom {
    float: right;
    margin-right: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 21px 40px;
    border: 1px solid #88339d;
    border-radius: 8px;
    background: #dd53ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#dd53ff), to(#88339d));
    background: -moz-linear-gradient(top, #dd53ff, #88339d);
    background: linear-gradient(to bottom, #dd53ff, #88339d);
    -webkit-box-shadow: #cc4deb 0px 0px 40px 0px;
    -moz-box-shadow: #cc4deb 0px 0px 40px 0px;
    box-shadow: #cc4deb 0px 0px 40px 0px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
}

#cta-happy-buttom:hover, #cta-happy-buttom:focus {
    border: 1px solid #aa40c4;
    background: #ff64ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff64ff), to(#a33dbc));
    background: -moz-linear-gradient(top, #ff64ff, #a33dbc);
    background: linear-gradient(to bottom, #ff64ff, #a33dbc);
    color: #ffffff;
    text-decoration: none;
}

#cta-happy-buttom:active {
    background: #88339d;
    background: -webkit-gradient(linear, left top, left bottom, from(#88339d), to(#88339d));
    background: -moz-linear-gradient(top, #88339d, #88339d);
    background: linear-gradient(to bottom, #88339d, #88339d);
}

/* the buttom Need Help is generated from https://buttonoptimizer.com/ */

#cta-help-buttom {
    float: right;
    margin: 30px 50px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 21px 40px;
    border: 1px solid #424242;
    border-radius: 8px;
    background: #7d7d7d;
    background: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#424242));
    background: -moz-linear-gradient(top, #7d7d7d, #424242);
    background: linear-gradient(to bottom, #7d7d7d, #424242);
    -webkit-box-shadow: #a940c9 0px 0px 40px 0px;
    -moz-box-shadow: #a940c9 0px 0px 40px 0px;
    box-shadow: #a940c9 0px 0px 40px 0px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}

#cta-help-buttom:hover, #cta-help-buttom:focus {
    border: 1px solid #4e4e4e;
    background: #969696;
    background: -webkit-gradient(linear, left top, left bottom, from(#969696), to(#4f4f4f));
    background: -moz-linear-gradient(top, #969696, #4f4f4f);
    background: linear-gradient(to bottom, #969696, #4f4f4f);
    color: #ffffff;
    text-decoration: none;
}

#cta-help-buttom:active {
    background: #424242;
    background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#424242));
    background: -moz-linear-gradient(top, #424242, #424242);
    background: linear-gradient(to bottom, #424242, #424242);
}



/* footer */

footer {
     
    height: 150px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(169, 64, 201, .3);
    color: black;
    text-align: center;
}

div > p {
    font-size: 120%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    padding: 15px 30px;
    color: black;
}

/* media screen less then 1200px wide and down */

@media screen and (max-width:1200px) {
    
    #logo {
        font-size: 250%;
    }

    #menu {
        clear: left;
        float: left;
        margin: 0;
        padding-left: 30px;
    }

    #happy-people {
        height: 400px;
    }
    
    #happy-people-image {
        background-position: center -95px;
        height: 500px;
    }

    #challenge-text {
        left: 0;
        width: 200px;
        height: 130px;
        padding: 15px;
        top: 230px;
        font-size: 100%;
    }

    #challenge {
        padding: 30px 0;
        margin: 0;
        font-size: 250%;
    }

    #challenge-question {
        width: 90%;
        height: 1200Px;
        margin: 0 auto;
    }

    #left-challenge, #right-challenge {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-challenge {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-challenge-text, .right-challenge-text {
        width: inherit;
    }
    #challenge, .left-challenge-text h2, .right-challenge-text h2 {
        width: 100%;
        text-align: left;
        text-transform: none;
    }

    hr {
        display: none;
    }
}

/* media screen less then 600px wide and down */

@media screen and (max-width:600px) {
    
    #logo {
        margin-left: 0;
        padding-left: 15px;
        font-size: 180%;
    }
    
    #menu {
        padding-left: 15px;
        font-size: 90%;
    }

    #happy-people {
        height: 400px;
    }
    
    #happy-people-image {
        height: 500px;
    }

    #challenge {
        font-size: 180%;
    }

    #challenge-text {
        width: 200px;
        height: 130px;
        padding: 15px;
        top: 230px;
        font-size: 100%;
    }
    
    .left-challenge-text h2, .right-challenge-text h2 {
        font-size: 100%;
    }

    #circle-container {
        padding: 15px;
    }
    
    div > p {
        font-size: 100%;
    }
}